page-register{
  .page{
    background-image: url('../../assets/imgs/register.jpg');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
  }
  .item{
    background-color: transparent;
  }
}
